html, body {
    height: 100%;
}

#app, body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawing-area {
    position: relative;
}

input[type=range] {
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    width: 60%;
}

figure {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}